*{
    border: 1px red solid;

  
}
.calculatorBody{
    display: flex;
    flex-direction: column;
    background-color: gray;
    align-self: center;
    justify-self: center;

}
.calculatorDigits{
    display: flex;
}
.calculatorFunctions{
    display: flex;
}
.button{
    background-color: yellow;
}